@import './bootstrap-grid.css';

:root {
  --color-primary: #4951e1;
  --color-primary-hover: #3840dd;
  --color-background: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  font-family: YekanBakh, serif;
  direction: rtl;
}

